<ion-header [translucent]="true">
  
    <ion-title>
      Lista de contactos
    </ion-title>
  
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-list-header>
      Lista de Contactos de Hibridas
    </ion-list-header>

    <ion-item *ngFor="let contact of contacts">
      <ion-avatar slot="start">
        <img src="{{contact.image}}">
      </ion-avatar>
      <ion-label>
        <h2>{{contact.name}}</h2>
        <h3>{{contact.number}}</h3>
        <p>{{contact.status}}</p>
      </ion-label>
    </ion-item>

  </ion-list>  

</ion-content>
